accelerate
boto3>=1.36.24
bitsandbytes
botocore>=1.37.9
cairosvg>=2.7.1
cairocffi>=1.6.1
# diffusers
flask>=3.0.3
huggingface_hub>=0.22.2
langchain>=0.2.17
langchain-openai>=0.1.25
lxml>=5.1.0
matplotlib>=3.7.5
numpy>=1.24.3
openai>=1.65.4
opencv-python>=4.10.0.84
Pillow>=9.5.0
pinecone>=5.4.2
peft
requests>=2.32.3
scikit-learn>=1.3.2
scikit-image==0.21.0
scipy>=1.10.1
segment-anything>=1.0
svgwrite>=1.4.3
torch>=2.4.1
torchvision>=0.19.1
transformers>=4.46.3
ffmpeg-python>=0.2.0
PyQt5>=5.15.9  # (or PyQt6/PySide2/PySide6, depending on GUI needs)
python-dotenv
xformers